<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 
    <link rel="stylesheet"  href="../../static/css/bootstrap.css">

    <title>Quản lý Bán Hàng</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{Home}}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="navbar-brand" href="/them-nhan-vien-ban-hang">Thêm nhân viên bán hàng</a>
          </ul>
          <form class="form-inline" method="POST">
            <button type="submit" name='Logout' value="out" class="btn btn-primary position-relative">Đăng xuất</button>
          </form>
        </div>
      </div>
    </nav>
    <br><br>
    <h2 class="text-center">Danh sách hóa đơn</h2>
    <h3 class="text-center">Nhân viên: {{TT_NV[1]}}</h3>
    <br>
    <div class="container">
        <div class="row">
            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Mã hóa đơn</th>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">Ngày bán</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Chi tiết hóa đơn</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in DS %}
                  <tr>
                    <th scope="row">{{i['MaHD']}}</th>
                    <td>{{i['NameKH']}}</td>
                    <td>{{i['DateTT']}}</td>
                    <td>{{"{:,} VNĐ".format(i['TongTien'])}}</td>
                    <td><a href="/hoa-don-thanh-toan-{{i['MaHD']}}" class="btn btn-link">Click để xem</a></td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <form method="POST">
          <button type="submit" name="Back" value="out" class="btn btn-primary">Back</button>
        </form>
    </div>
    <script src="../../static/js/bootstrap.js"></script>

  </body>
</html>