<!doctype html>
<html lang="en">
  <head>
    <title>Trang chính</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="../../static/css/bootstrap.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Loại hàng
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for j in dsLoai %}
                <form method="POST">
                  <li><button type="submit" class="btn btn-link" name="Loai" value="{{j['MaLoai']}}">{{j['NameLoai']}}</button></li>
                </form>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nhãn hàng
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for i in dsNH %}
                <form method="POST">
                  <li><button type="submit" class="btn btn-link" name="NhanHang" value="{{i['MaNH']}}">{{i['NameNH']}}</button></li>
                </form>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <a href="/gio-hang">
              <button type="button" class="btn btn-primary position-relative">Giỏ hàng
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{So_gioHang}}
                </span>
              </button>
            </a>
          </form>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <form class="d-flex" method="POST">
          <input class="form-control me-2" type="search" name="TH_gt_tim" value="{{chuoi_tim}}" placeholder="Tìm kiếm">
          <button type="submit" class="btn btn-outline-success">Tìm</button>
        </form>
      </div>
    </nav>
    <div class="container overflow-hidden">
      <div class="row g-2">
        {% for item in danh_sach_sanpham %}
        <div class = "col-md-6">
          <div class="border border-dark">
            <img src="{{url_for('static',filename='images/'+ item['ImageUrl'])}}" alt="..."  style="width:150px;height:175px;">
            <div class ="media-body center">
              <h5 class ="mt-0">{{item['NameSP']}}</h5>
              <h5 class ="mt-0">Giá bán: {{item['Sell']}}</h5>
              <h5 class ="mt-0">Trạng thái: {{item['Description']}}</h5>
              <a class="btn btn-secondary btn-lg" href="/thong-tin-san-pham-{{item['IdSP']}}">Thông tin</a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <br><br><br>
    <script src="../../static/js/bootstrap.js"></script>
  </body>
</html>